:root {
    /* colour variables */ 
    --glass: #b5d7bb;
    --blueberry: #284465;
    --yelliced: #f2d655;
    --mystic: #78f06d;
    --fey: #f5d4e3;
    --whiteout: white;

    /* spacing variables: golden ratio */
    --space-xs: 0.382rem;
    --space-s: 0.618rem;
    --space-m: 1rem;
    --space-l: 1.618rem;
    --space-xl: 2.618rem;
    --space-xxl: 4.236rem;
    /* Fonts  */
    --raleway: 'Raleway', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    border: 0;
    padding: 0;
    margin: var(--space-l);
    background: var(--blueberry);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    color: whitesmoke;
    font-family: var(--raleway);
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar {
    border:0;
    padding:0;
    margin:0;
}

form {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

h1 {
    font-size: var(--space-xl);
    color: var(--yelliced);
    margin-block-start: 0.2em;
}

h2 {
    font-weight:400;
    font-size: var(--space-l)/2;
    color: var(--glass);
    margin-block-start: 0;
    margin-block-end: var(--space-l);
}

p {
    font-size: 2.3rem;
    font-weight: 800;
    color: var(--mystic);
    margin-block-start: var(--space-l);
}

input {
    font-family: var(--raleway);
    font-size: var(--space-m);
    color: var(--blueberry);
    width: 60vw;
    line-height: var(--space-m);
    cursor: text;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    padding-left: var(--space-s);
}

button {
    background: var(--blueberry);
    border: none;
    line-height: var(--space-m);
    cursor: pointer;
    font-size: 2rem;
    vertical-align: middle;
    padding-left: var(--space-s);
}

button:hover {
}

.fa-search {
    color: var(--mystic);
}

.fa-search:hover {
    color: var(--glass);
    transition: 0.2s ease-in-out;
    /* transform: scale(1.08); */
    transform: rotate(360deg) scale(1.08);

}

ul {
    list-style-type: none;
    padding:0;
    margin:0;
    width: 60vw;
}

li {
    font-family: var(--raleway);
    font-size: var(--space-m);
    text-align: left;
    padding:0.5rem;
    background-color: white;
    line-height: var(--space-m);
    cursor: pointer;
    color: var(--blueberry);
}

li:hover {
    font-family: var(--raleway);
    font-size: var(--space-m);
    text-align: left;
    padding:0.5rem;
    line-height: var(--space-m);
    cursor: pointer;
    color: var(--blueberry);
    background-color: var(--yelliced);
}

.country-dish {
    display: flex;
    justify-content: center;
}



/* media queries */
@media (min-width: 768px) {


h1 {
    font-size: var(--space-xxl);
    margin-top: var(--space-xl) ;
}

h1:hover {
    color: var(--fey);   
}

h2 {
    font-size: var(--space-l);
    margin-block-end: var(--space-xl);
} 

p {
    font-size: var(--space-xxl);
}

a {
    text-decoration: none;
}

input {
    line-height: var(--space-l);
}

.country-dish {
    margin-block-start: var(--space-xl);
}

}
